doctype 5
html
  head
    title= title
    script(src='/javascripts/jquery-1.8.3.js')
    script(src='/javascripts/ajax.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content