extends layout

block scripts
  

block content
  h1 Tasks
  ul(id='task_list')
    each task in tasks
      li= task.name
  
  form(id='form', method='post', action='/tasks', enctype='multipart/form-data')
    input(name='_method', value='POST', type='hidden')
    input(name='task[id]', value='', type='hidden')
    div
      label Title:
      input(name='task[name]', value='')
    div
      input(type='submit', value='Save')

